<html>
  <head></head>
  <body>
    <h1>Albums</h1>
  
      <% @albums.each do |album| %>
        <p><br>
        Title: <%= album.title %>
        <br>
        Released: <%= album.release_year %>
        <br>
        <a href="/albums/<%= album.id %>"> 
          Click for Album Page</a>
        </div>
      <% end %>
  </body>
</html>
